<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h1>Neeraj thela lagane laga?? </h1>
    <h2>Hain ji?</h2>
  </body>
</html>
